.container1{
    width: 100%;
    height: 100vh;
    background-color:blueviolet;
    display: grid;
    grid-template-columns:20% auto ;
    grid-template-rows: 20% auto 15%;
    
}
#nav{
    background-color: black;
    grid-column: 1/3;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
    
}
.info{
    background-color: grey;
}
.content{
    background-color: azure;

}
.foot{
    background-color: black;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
}
*{
    margin: 0px;
}
#one{
    padding: 20px;
}
a:link{
    text-decoration: none;
}
@media only screen and (max-width:500px) {
    .container1{
        width: 100%;
        height: 200vh;
        background-color:blueviolet;
        display: grid;
        grid-template-columns:auto ;
        grid-template-rows: 100px 100px auto 80px;
        
    }
    .nav{
        background-color: black;
        grid-column: 1/3;
        color: white;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 25px;
        grid-column: 1/2;
        
    }
    .info{
        background-color: grey;
        grid-column: 1/2;
    }
    .content{
        background-color: azure;
        grid-column: 1/2;
    
    }
    .foot{
        background-color: black;
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
    }
}
